server:
  interface: 127.0.0.1
  do-ip6: no 
  num-threads: 4
  msg-cache-slabs: 4
  chroot: ""
  logfile: "/var/log/unbound/unbound.log"
  verbosity: 1
  log-queries: no
  use-syslog: no
  log-time-ascii: yes
