[Unit]
Description=Celery Worker
After=network.target

[Service]
User={{ ansible_user | default('root') }}
Group={{ ansible_user | default('root') }}
WorkingDirectory={{ project_dir }}/
ExecStart=/bin/bash -c 'source {{ venv_dir }}/bin/activate && {{ venv_dir }}/bin/celery -A celery_app worker --loglevel=info -Q file_queue'

# Correct redirection of logs
StandardOutput=file:{{ project_dir }}/celery_worker.log
StandardError=file:{{ project_dir }}/celery_worker_error.log

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target